<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">

<policyconfig>
  <vendor>Wasta-Linux</vendor>
  <vendor_url>wastalinux.org</vendor_url>
  <icon_name>traffic-cop</icon_name>

  <action id="org.wasta.apps.traffic-cop.reset">
    <description>Reset Traffic Cop config</description>
    <message>Authentication is required to reset Traffic Cop config file.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/traffic-cop</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">--reset</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="org.wasta.apps.traffic-cop.nethogs">
    <description>Start nethogs traffic monitoring</description>
    <message>Authentication is required for Traffic Cop to monitor network traffic.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/sbin/nethogs</annotate>
  </action>

  <action id="org.wasta.apps.traffic-cop.kill">
    <description>Kill process</description>
    <message>Authentication is required for Traffic Cop to stop monitoring network traffic.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/kill</annotate>
  </action>

  <action id="org.wasta.apps.traffic-cop.systemctl">
    <description>Manage systemctl service</description>
    <message>Authentication is required to manage systemctl services.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/systemctl</annotate>
  </action>

</policyconfig>
